<launch>

    <!-- robot localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
        <rosparam command="load" file="$(find quadruped_robot)/quadruped_robot/launch/include/localization/config/wheel_imu.yaml" />
        <!-- subscribe -->
        <remap from="/odom/wheel" to="/odom"/>
        <remap from="/imu/lidar" to="/livox/imu"/>
        <!-- publish -->
        <remap from="odometry/filtered" to="odometry/filtered" />
        <remap from="accel/filtered" to="accel/filtered" />
    </node>

</launch>